.nav {
  margin: 80px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .nav.isIntersecting .item,
  .nav.isIntersecting .fakeItem {
    transform-origin: bottom;
    animation: var(--item-enter-animation);
    animation-delay: var(--delay);
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -8px 0 0;
  padding: 0;
  align-items: stretch;
}

.item,
.fakeItem {
  margin: 0 8px 8px 0;
}

.link {
  display: block;
  font: var(--font-display-sm);
  background: var(--color-brand-orange);
  border-radius: 8px;
  padding: 22.5px 32px;
  color: var(--color-brand-black);
  text-decoration: none;
}

.link:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-brand-black);
}

.link:hover {
  background: var(--color-brand-yellow);
}

.link:active {
  background: var(--color-brand-yellow-light);
}

.fakeItem {
  flex: auto;
  border-radius: 8px;
  display: none;
}

.fakeItem.noShape {
  background-color: var(--color-brand-orange);
}

.fakeItem.mobile {
  display: block;
}

.divider {
  flex: 0 0 100%;
  height: 0;
  display: none;
}

.divider.mobile {
  display: block;
}

@media (--medium-up) {
  .nav {
    margin: 96px 0 128px;
  }

  .fakeItem.mobile,
  .divider.mobile {
    display: none;
  }

  .fakeItem.tablet,
  .divider.tablet {
    display: block;
  }
}

@media (--large-up) {
  .nav {
    margin: 128px 0 192px;
  }

  .link {
    font: var(--font-display-base);
    border-radius: 12px;
    padding: 28.5px 39px;
  }

  .fakeItem {
    border-radius: 12px;
  }

  .fakeItem.tablet,
  .divider.tablet {
    display: none;
  }

  .fakeItem.desktop,
  .divider.desktop {
    display: block;
  }
}

@keyframes item-enter {
  from {
    opacity: 0;
    transform: translateY(var(--distance)) rotate(var(--rotation));
  }
}
