.extraHeroContent {
  margin-top: 48px;
}

.authors {
  list-style: none;
  padding: 0;
  margin: 0;
}

.author {
  display: inline-block;
}

.timestamps {
  margin-top: 24px;
  font: var(--font-ui-xs);
  letter-spacing: var(--letter-spacing-ui-xs);
}

.publishedAt,
.updatedAt {
  margin: 0;
}

.container {
  margin: 80px 0;
}

.asides {
  margin-top: 80px;
}

.relatedItems:nth-child(n + 2) {
  margin-top: 32px;
}

.relatedItemsHeading {
  font: var(--font-ui-xs-medium);
  letter-spacing: var(--letter-spacing-ui-xs);
  margin: 0 0 10px;
}

.relatedItemsList {
  padding: 0;
  margin: 0;
}

.relatedItem {
  display: inline-block;
}

@media (--medium-up) {
  .extraHeroContent {
    margin-top: 64px;
  }

  .publishedAt,
  .updatedAt {
    display: inline;
  }

  .publishedAt + .updatedAt::before {
    content: ' | ';
  }

  .container {
    margin: 96px 0;
  }

  .mainContent {
    max-width: var(--max-body-text-width);
    margin: 0 auto;
  }

  .asides {
    max-width: var(--max-body-text-width);
    margin: 96px auto 0;
  }
}

@media (--large-up) {
  .extraHeroContent {
    margin-top: 80px;
  }

  .container {
    margin: 128px 0;
    display: grid;
    column-gap: var(--grid-gutter);
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .mainContent {
    grid-column: 2 / span 10;
  }

  .mainContent.asidesPresent {
    margin: 0;
    grid-column: 2 / span 5;
  }

  .asides {
    max-width: none;
    margin: 0;
    grid-column: 8 / span 4;
  }

  .relatedItemsHeading {
    font: var(--font-ui-xs-semi);
  }
}
