.top {
  padding: 40px 0 48px;
  background-color: var(--color-brand-yellow-light);
}

.sessionInfo {
  text-align: center;
  font: var(--font-body-small-medium);
  letter-spacing: var(--letter-spacing-body-small);
}

.tag {
  margin-bottom: 24px;
}

.sessionTitle {
  margin: 0 auto 24px;
  max-width: var(--max-body-text-width);
}

.speakers {
  margin: 80px auto 0;
  max-width: var(--max-body-text-width);
  padding: 0;
  list-style: none;
}

.speaker {
  padding: 16px 0 24px;
  border-bottom: 2px solid var(--color-brand-black);
  display: flex;
  align-items: center;
  font: var(--font-ui-xs-medium);
  letter-spacing: var(--letter-spacing-ui-xs);
  text-decoration: none;
}

.speaker:first-child {
  border-top: 2px solid var(--color-brand-black);
}

.speaker:hover {
  background-color: var(--color-brand-orange);
  border-radius: 16px;
  border: none;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}

.speaker::after {
  white-space: nowrap;
  letter-spacing: normal; /* Chromium disables ligature otherwise */
  content: ' ->';
  flex: auto;
  text-align: right;
}

.speakerImage {
  border-radius: 24px;
  margin-right: 24px;
}

.role {
  text-transform: capitalize;
}

.speakerName {
  font: var(--font-display-xxs);
}

.longDescription {
  max-width: var(--max-body-text-width);
  margin: 48px auto 80px;
}

@media (--medium-up) {
  .top {
    padding: 108px 0 64px;
  }

  .sessionInfo {
    font: var(--font-body-base-medium);
    letter-spacing: var(--letter-spacing-body-base);
  }

  .tag,
  .sessionTitle {
    margin-bottom: 32px;
  }

  .speakers {
    margin-top: 96px;
  }

  .speaker:hover {
    left: -24px;
    width: calc(100% + 48px);
  }
}

@media (--large-up) {
  .top {
    padding: 88px 0 80px;
  }

  .topContainer {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: var(--grid-gutter);
    align-items: center;
  }

  .sessionInfo {
    text-align: left;
    grid-column: 2 / span 6;
  }

  .sessionTitle {
    font: var(--font-display-xl);
    margin: 0 0 32px;
  }

  .speakers {
    margin: 0;
    grid-column: 8 / span 4;
  }

  .longDescription {
    margin: 80px auto 128px calc((100% + var(--grid-gutter)) / 12);
  }
}
