.top {
  padding: 40px 0 48px;
  background-color: var(--color-brand-yellow-light);
}

.info {
  text-align: center;
  font: var(--font-body-small-medium);
  letter-spacing: var(--letter-spacing-body-small);
}

.tag {
  margin-bottom: 24px;
}

.title {
  margin: 0 auto 24px;
  max-width: var(--max-body-text-width);
}

.venueTimes {
  padding: 0;
  margin: 0;
  list-style: none;
}

.venueTime {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.highlightedSpeakers {
  margin: 80px calc(-1 * var(--grid-half-gutter)) 0;
}

.speakers {
  margin: 80px auto 0;
  max-width: var(--max-body-text-width);
  padding: 0;
  list-style: none;
}

.speakerItem {
  border-bottom: 2px solid var(--color-brand-black);
}

.speakerItem:first-child {
  border-top: 2px solid var(--color-brand-black);
}

.speakerLink {
  padding: 18px 16px 26px;
  margin: -2px -16px -2px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  font: var(--font-ui-xs-medium);
  letter-spacing: var(--letter-spacing-ui-xs);
  text-decoration: none;
}

.speakerLink:hover {
  background-color: var(--color-brand-orange);
}

.speakerLink:active {
  background-color: var(--color-brand-yellow);
}

.speakerLink::after {
  white-space: nowrap;
  font: var(--font-body-xl);
  letter-spacing: normal; /* Chromium disables ligature otherwise */
  content: ' ->';
  flex: auto;
  text-align: right;
}

.speakerImage {
  border-radius: 24px;
  margin-right: 24px;
}

.role {
  text-transform: capitalize;
}

.speakerName {
  font: var(--font-display-xxs);
}

.longDescription {
  max-width: var(--max-body-text-width);
  margin: 48px auto 80px;
}

.video {
  max-width: var(--max-body-text-width);
  margin: 48px auto;
}

@media (--medium-up) {
  .top {
    padding: 108px 0 64px;
  }

  .info {
    font: var(--font-body-base-medium);
    letter-spacing: var(--letter-spacing-body-base);
  }

  .tag,
  .title {
    margin-bottom: 32px;
  }

  .title {
    font: var(--font-display-xl);
  }

  .highlightedSpeakers {
    margin: 96px calc(-1 * var(--grid-medium-gutter)) 0;
  }

  .speakers {
    margin-top: 96px;
  }

  .speakerLink {
    padding-left: 24px;
    padding-right: 24px;
    margin-left: -24px;
    margin-right: -24px;
  }
}

@media (--session-large-up) {
  .top {
    padding: 88px 0 80px;
  }

  .top.hasHighlightedSpeakers {
    position: relative;
    min-height: 630px;
  }

  .topContainer {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: var(--grid-gutter);
    align-items: center;
  }

  .top.hasHighlightedSpeakers .topContainer {
    margin-top: 40px;
  }

  .info {
    text-align: left;
    grid-column: 2 / span 6;
  }

  .title {
    margin: 0 0 32px;
  }

  .highlightedSpeakers {
    margin: 0;
    position: absolute;
    top: 0;
    right: 16px;
    height: 630px;
    overflow: hidden;
  }

  .speakers {
    margin: 0;
    grid-column: 8 / span 4;
  }

  .longDescription {
    margin: 80px auto 128px calc((100% + var(--grid-gutter)) / 12);
  }
}
