.nav {
  background: var(--color-brand-white);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 0;
}

.menuContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  width: auto;
  height: 48px;
}

.items {
  margin: 0;
  list-style: none;
  display: flex;
}

.menuButtonWrapper,
.ticketItem {
  display: none;
}

.link {
  color: var(--color-brand-black);
  display: block;
  margin: 0 10px;
  text-decoration: none;
  font: var(--font-ui-sm-medium);
  letter-spacing: var(--letter-spacing-ui-sm);
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

@media not all and (--medium-up) {
  .nav {
    background: none;
    box-shadow: none;
  }

  .menuButtonWrapper {
    display: block;
    text-align: center;
    position: fixed;
    bottom: 46px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .menuButton {
    display: inline-block;
    padding: 18px 24px;
    border-radius: 6px;
    border: none;
    font: var(--font-body-large-medium);
    letter-spacing: var(--letter-spacing-body-large);
    background: var(--color-brand-yellow);
  }

  .menuButton::before {
    content: url('../../images/menu.svg');
    line-height: 1;
    vertical-align: bottom;
    margin-right: 17px;
  }

  .menuButton.menuOpen {
    background: var(--color-brand-orange);
    align-self: center;
  }

  .menuButton.menuOpen::before {
    content: url('../../images/close.svg');
    line-height: 1;
    vertical-align: bottom;
    margin-right: 20px;
  }

  .menuButton:active {
    background: var(--color-brand-yellow-light);
  }

  .items {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-brand-yellow);
    padding: 24px var(--grid-half-gutter) 112px;
    overflow: auto;
  }

  .items.menuClosed {
    display: none;
  }

  .homeLink.onFrontPage,
  .ticketButton {
    display: none;
  }

  .ticketItem {
    display: list-item;
  }

  .link {
    font: var(--font-display-lg);
    letter-spacing: normal;
    display: inline;
  }
}

@media (--large-up) {
  .menuContents {
    padding: 24px 0;
  }

  .link {
    margin: 0 12px;
    font: var(--font-body-base-medium);
    letter-spacing: var(--letter-spacing-body-base);
  }
}
