.speaker {
  display: flex;
  flex-direction: row;
}

.profilePicture {
  padding-right: 1rem;
}

.details {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details__title {
  font-style: italic;
}
