@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/static/fonts/inter-var-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Larsseit';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/static/fonts/larsseit-bold.woff2') format('woff2');
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: underline;
}
