@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/static/fonts/inter-var-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Larsseit';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/static/fonts/larsseit-bold.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus-visible {
  outline: 2px solid var(--color-brand-black);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font: var(--font-body-base);
  letter-spacing: var(--letter-spacing-body-base);
}

body.main-menu-open {
  overflow: hidden;
}

h1 {
  font: var(--font-display-base);
  margin: 0;
}

p,
ul,
ol {
  margin: 0 0 1em;
  padding: 0;
}

a {
  color: var(--color-sanity-blue);
  text-decoration: underline;
}

button,
input {
  font: inherit;
}

@media (--medium-up) {
  body.main-menu-open {
    overflow: auto;
  }

  h1 {
    font: var(--font-display-xl);
  }
}

@media (--large-up) {
  h1 {
    font: var(--font-display-2xl);
  }
}
