:root {
  --color-brand-black: #000000;
  --color-brand-orange: #fbd024;
  --color-brand-white: #ffffff;
  --color-brand-yellow: #fdefb6;
  --color-brand-yellow-light: #fef7da;
  --color-material-gray-300: rgba(31, 30, 29, 0.15);
  --color-material-gray-600: rgba(31, 30, 29, 0.65);
  --color-sanity-blue: #2962ff;
  --color-ui-gray-600: #6f6d6a;
  --color-ui-gray-500: #a0a09c;
  --color-ui-gray-300: #deddd9;
  --color-ui-gray-100: #f4f3ef;
  --font-body-base: 400 18px/25px 'Inter', sans-serif;
  --font-body-base-medium: 500 18px/25px 'Inter', sans-serif;
  --font-body-base-bold: 700 18px/25px 'Inter', sans-serif;
  --font-body-large: 400 20px/30px 'Inter', sans-serif;
  --font-body-large-bold: 700 20px/30px 'Inter', sans-serif;
  --font-body-large-medium: 500 20px/30px 'Inter', sans-serif;
  --font-body-small: 400 16px/22px 'Inter', sans-serif;
  --font-body-small-bold: 700 16px/22px 'Inter', sans-serif;
  --font-body-small-medium: 500 16px/22px 'Inter', sans-serif;
  --font-body-xl-medium: 500 24px/33px 'Inter', sans-serif;
  --font-display-2xl: 700 96px/92.16px 'National 2 Narrow', sans-serif;
  --font-display-base: 700 40px/39px 'National 2 Narrow', sans-serif;
  --font-display-lg: 700 64px/64px 'National 2 Narrow', sans-serif;
  --font-display-sm: 700 32px/35px 'National 2 Narrow', sans-serif;
  --font-display-xl: 700 72px/69.12px 'National 2 Narrow', sans-serif;
  --font-display-xs: 700 28px/35px 'National 2 Narrow', sans-serif;
  --font-display-xxs: 700 24px/30px 'National 2 Narrow', sans-serif;
  --font-ui-sm-medium: 500 16px/22px 'Inter', sans-serif;
  --font-ui-xl-medium: 500 30px/38px 'Inter', sans-serif;
  --font-ui-xxl-medium: 500 40px/56px 'Inter', sans-serif;
  --grid-gutter: 40px;
  --grid-half-gutter: 20px;
  --grid-medium-gutter: 32px; /* These could be set in @media if we drop IE11 */
  --grid-medium-half-gutter: 16px;
  --grid-width: 1520px;
  --letter-spacing-body-small: -0.011em;
  --letter-spacing-body-base: -0.014em;
  --letter-spacing-body-large: -0.017em;
  --letter-spacing-body-xl: -0.019em;
  --letter-spacing-ui-sm: -0.011em;
  --letter-spacing-ui-xl: -0.021em;
  --letter-spacing-ui-xxl: -0.022em;
  --max-body-text-width: 37.5rem;
  --spacing-small: 40px;
  --spacing-medium: 64px;
  --spacing-large: 128px;
}
