.venueNavContainer {
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}

.container {
  margin-top: 68px;
}

.heading {
  margin: 0 0 32px;
}

.dayContainer {
  background: var(--color-brand-orange);
  padding: 24px 20px;
}

.dayHeader {
  font: var(--font-display-xxs);
  letter-spacing: var(--letter-spacing-body-small);
  margin: 0;
}

.dayLocation {
  font: var(--font-body-base-medium);
}

.sessions {
  list-style: none;
  padding: 0;
  margin: 0;
}

.session {
  padding: 32px 20px;
  border-top: 1px solid black;
}

.session:last-of-type {
  border-bottom: 1px solid black;
}

.sessionTitleLink {
  text-decoration: none;
}

.sessionTitleLink:hover {
  text-decoration: underline;
}

.sessionTitle {
  font: var(--font-display-xxs);
  letter-spacing: var(--letter-spacing-body-small);
  margin-top: 24px;
  margin-bottom: 20px;
}

.speaker {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.speaker:not(:first-of-type) {
  margin-top: 8px;
}

.speaker:hover {
  text-decoration: underline;
}

.speakerImage {
  border-radius: 4px;
  margin-right: 12px;
}

.speakerName {
  font: var(--font-ui-xs-semi);
}

.speakerTitle {
  font: var(--font-ui-xs);
}

@media (--medium-up) {
}

@media (--large-up) {
}
