.venueNavContainer {
  margin: 32px 0 48px;
}

.venueAddress {
  margin: 0;
}

.container {
  margin: 48px 0 80px;
}

.heading {
  margin: 0 0 32px;
}

.dayHeader {
  background: var(--color-brand-orange);
  padding: 24px 0;
  border-bottom: 1px solid var(--color-brand-black);
}

.dayHeading {
  font: var(--font-display-xxs);
  margin: 0;
}

.dayLocation {
  font: var(--font-body-base-medium);
}

.sessionLink {
  display: block;
  text-decoration: none;
}

.sessionLink:hover,
.sessionLink:focus-visible {
  background: var(--color-brand-yellow-light);
}

.session {
  padding: 32px 0;
  border-bottom: 1px solid var(--color-brand-black);
}

.sessionTime {
  font: var(--font-ui-sm-medium);
  letter-spacing: var(--letter-spacing-ui-sm);
}

.sessionTitle {
  font: var(--font-display-xxs);
  letter-spacing: normal;
  margin: 24px 0 0;
}

.speakers {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}

.speaker {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font: var(--font-ui-xs);
  letter-spacing: var(--letter-spacing-ui-xs);
}

.speakerImage {
  border-radius: 4px;
  margin-right: 12px;
}

.speakerName {
  font: var(--font-ui-xs-semi);
}

@media (--medium-up) {
  .venueNavContainer {
    margin: 0 0 calc(64px - (77px / 2)); /* 77px is the height of VenueNav */
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
  }

  .venueAddress {
    text-align: center;
  }

  .container {
    margin: 64px 0 96px;
  }

  .dayHeader {
    padding: 32px 0;
  }

  .session {
    padding: 40px 0;
  }

  .sessionContents {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    column-gap: var(--grid-medium-gutter);
  }

  .sessionTime {
    grid-column: 1 / span 3;
  }

  .sessionMain {
    grid-column: 4 / span 5;
  }

  .sessionTitle {
    font: var(--font-display-sm);
    margin-top: 0;
  }

  .speakers {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 24px;
  }

  .speaker {
    margin-top: 0;
  }
}

@media (--large-up) {
  .container {
    margin: 96px 0 128px;
  }

  .session {
    padding: 48px 0;
  }

  .sessionContents {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: var(--grid-gutter);
  }

  .sessionTime {
    grid-column: 1 / span 4;
    font: var(--font-body-base-medium);
    letter-spacing: var(--letter-spacing-body-base);
  }

  .sessionMain {
    grid-column: 5 / span 8;
  }
}
