.card {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #000;
  margin: 10px;
  display: inline-flex;
}

.spacer {
  height: 28px;
}

.figure {
  margin: 0 14px 0 4px;
  height: 28px;
  width: 28px;
  border-radius: 2px;
}
