.container {
  background: var(--color-brand-yellow-light);
  text-align: center;
  padding: 40px 0 80px;
}

@media (prefers-reduced-motion: no-preference) {
  .container.isIntersecting .heading,
  .container.isIntersecting .summary,
  .container.isIntersecting .cta {
    transform-origin: bottom;
    animation: var(--item-enter-animation);
    animation-delay: var(--delay);
  }
}

.summary {
  font: var(--font-body-small-medium);
  letter-spacing: var(--letter-spacing-body-small);
  margin: 32px auto 0 auto;
  max-width: var(--max-body-text-width);
}

.cta {
  margin-top: 32px;
}

@media (--medium-up) {
  .container {
    padding: 96px 0;
  }

  .summary {
    font: var(--font-body-base-medium);
    letter-spacing: var(--letter-spacing-body-base);
    margin-top: 40px;
  }

  .cta {
    margin-top: 40px;
  }
}

@media (--large-up) {
  .container {
    padding: 128px 0;
  }

  .headingContainer {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: var(--grid-gutter);
  }

  .heading,
  .cta {
    grid-column: 3 / span 8;
  }

  .summary {
    grid-column: 4 / span 6;
    max-width: none;
  }
}

@keyframes item-enter {
  from {
    opacity: 0;
    transform: translateY(var(--distance)) rotate(var(--rotation));
  }
}
