.header {
  width: 100%;
  position: relative;
  z-index: 1;
}

.cookieConsent {
  position: relative;
  z-index: 2;
}

@media (--medium-up) {
  .header {
    position: sticky;
    top: 0;
    left: 0;
  }

  .header.onFrontPage {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.5s cubic-bezier(0.25, 0.92, 0.37, 1);
  }

  .header.onScrolledFrontPage {
    position: fixed;
    transform: translateY(0%);
  }
}
