.header {
  width: 100%;
  position: relative;
  z-index: 1;
}

.cookieConsent {
  position: relative;
  z-index: 2;
}

@media (--medium-up) {
  .header {
    position: sticky;
    top: 0;
    left: 0;
  }

  .header.onFrontPage {
    position: fixed;
    display: none;
  }

  .header.onScrolledFrontPage {
    display: block;
  }
}
