.container {
  background-color: var(--color-brand-yellow-light);
}

.socialContainer {
  margin-top: 24px;
}

.socialImage {
  margin-right: 12px;
}

.sessionContainer {
  margin: 48px 0;
}

.session {
  display: block;
  margin: 8px 0;
}

.sessionTitle {
  font: var(--font-display-xxs);
  margin: 0;
}

.speakerImage {
  width: 336px;
  height: 480px;
  border-radius: 16px;
}

.shape {
  width: 336px;
  height: 336px;
}

.shapeMargin {
  margin: 21px;
}

.shapeMarginTop {
  margin-top: 21px;
}

.shapeMarginBottom {
  margin-bottom: 21px;
}

@media (--large-up) {
  .subContainer {
    margin: 0 0 128px;
    padding-top: 128px;

    display: grid;
    column-gap: var(--grid-gutter);
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .mainContent {
    max-width: var(--max-body-text-width);
    margin: 0 auto;
    grid-column: 7 / span 5;
  }

  .aside {
    display: grid;
    position: relative;
    top: -320px;
    left: -172px;
  }

  .shapeColumn {
    grid-column: 1 / span 1;
    clip-path: inset(0 0 255px 0);
  }

  .speakerImageColumn {
    grid-column: 2 / span 1;
    clip-path: inset(0 0 255px 0);
  }
}
