.container {
  background-color: var(--color-brand-yellow-light);
}

.socialContainer {
  margin-top: 24px;
}

.socialImage {
  margin-right: 12px;
}

.sessionContainer {
  margin: 48px 0;
}

.session {
  display: block;
  margin: 8px 0;
}

.sessionTitle {
  font: var(--font-display-xxs);
  margin: 0;
}

.speakerImage {
  width: 192px;
  height: 255px;
  border-radius: 16px;
}

/*
  .shapesColumn {
    display: none;
  }

  .speakerImageColumn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    overflow: hidden;
  }
*/

@media (--medium-up) {
  .speakerImage {
    width: 280px;
    height: 372px;
  }
}

@media (--large-up) {
  .article {
    margin: 0 0 128px;
    padding-top: 128px;

    display: grid;
    column-gap: var(--grid-gutter);
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .mainContent {
    max-width: var(--max-body-text-width);
    margin: 0 auto;
    grid-column: 7 / span 5;
  }

  .aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 21px;

    position: relative;
    top: -330px;
    left: -150px;
  }

  .shapesColumn,
  .speakerImageColumn {
    display: grid;
    gap: 21px;
    height: 803px;
  }

  .speakerImage {
    width: 336px;
    height: 480px;
  }

  .shapeColumnClip {
    clip-path: inset(0 0 40px 0);
  }

  .speakerImageColumnClip {
    clip-path: inset(0 0 185px 0);
  }
}
