.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailInput {
  height: 1rem;
  padding: 1rem;
  margin-right: 0.5rem;
}

.submitButton {
  background: #00a0d2;
  color: white;
  padding: 1rem;
  border: 1px solid blue;
}

.emailParagraph {
  padding-top: 1rem;
}
