.table {
  width: 100%;
  border: 10px solid #eee;
}

.table td {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.table td:not(:first-child) {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.button {
  margin-top: 1rem;
  padding: 0.5rem;
  width: 50%;
  background: #ccc;
}
