.container {
  background: var(--color-brand-yellow-light);
}

.contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image {
  width: 200px;
  height: 200px;
}
