.container {
  max-width: var(--grid-width);
  padding: 0 var(--grid-half-gutter);
  margin: 0 auto;
}

@media (--medium-up) {
  .container {
    padding: 0 var(--grid-medium-gutter);
  }
}

@media (--large-up) {
  .container {
    padding: 0 var(--grid-gutter);
  }
}
