.venues {
  text-align: center;
  margin: 80px 0 48px;
  padding: 0;
}

.enter .venue {
  transform-origin: bottom;
  animation: var(--item-enter-animation);
  animation-delay: var(--delay);
}

@keyframes item-enter {
  from {
    opacity: 0;
    transform: translateY(var(--distance)) rotate(var(--rotation));
  }
}

.venue {
  display: inline-block;
  font: var(--font-display-base);
}

.link {
  color: var(--color-brand-black);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.venue:nth-child(n + 2)::before {
  content: '•';
  margin: 0 6px;
}

@media (--medium-up) {
  .venues {
    margin: 96px 0 64px;
  }

  .venue {
    font: var(--font-display-lg);
  }

  .venue:nth-child(n + 2)::before {
    margin: 0 10px;
  }
}

@media (--large-up) {
  .venues {
    margin: 128px 0 80px;
  }

  .venue {
    font: var(--font-display-xl);
  }
}
