.container {
  margin: 80px 0;
}

.container.background {
  background: var(--color-brand-yellow-light);
  padding: 80px 20px;
  border-radius: 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .container.isIntersecting .text,
  .container.isIntersecting .heading,
  .container.isIntersecting .subHeading {
    transform-origin: bottom;
    animation: var(--item-enter-animation);
    animation-delay: var(--delay);
  }
}

.subHeading {
  font: var(--font-body-base-medium);
}

@media (--medium-up) {
  .container {
    margin: 96px 0;
  }

  .container.background {
    padding: 96px 0;
  }

  .content {
    max-width: var(--max-body-text-width);
    margin: 0 auto;
  }

  .subHeading {
    font: var(--font-body-large-medium);
  }
}

@media (--large-up) {
  .container {
    margin: 128px 0;
  }

  .container.background {
    padding: 128px 0;
  }
}

@keyframes item-enter {
  from {
    opacity: 0;
    transform: translateY(var(--distance)) rotate(var(--rotation));
  }
}
