.sponsor {
  margin: 2px;
  background: white;
  border-radius: 8px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor--Premier {
  width: 288px;
  height: 130px;
}

.sponsor--Gold {
  width: 192px;
  height: 88px;
}

.sponsor--Silver {
  width: 128px;
  height: 60px;
}

.image {
  max-width: 60%;
  max-height: 60%;
}

@media (--small) {
  .sponsor--Premier {
    width: 192px;
    height: 88px;
  }

  .sponsor--Gold,
  .sponsor--Silver {
    width: 128px;
    height: 60px;
  }
}
