.sponsor {
  background: var(--color-brand-white);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor.premier {
  width: 192px;
  height: 88px;
}

.sponsor.partner,
.sponsor.community {
  width: 128px;
  height: 60px;
}

.image {
  max-width: 60%;
  max-height: 60%;
}

@media (--medium-up) {
  .sponsor.premier {
    width: 288px;
    height: 130px;
  }

  .sponsor.partner {
    width: 192px;
    height: 88px;
  }
}
