.container {
  margin: 64px 0;
}

.introContent {
  margin-bottom: 48px;
  text-align: center;
}

.heading {
  margin: 0 0 24px;
  font: var(--font-display-sm);
}

.speakerList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.speakerItem {
  margin: 0 auto 16px;
  width: 350px;
  max-width: 100%;
}

.speakerLink {
  text-decoration: none;
  display: block;
  margin: 0 -16px;
  padding: 16px;
  border-radius: 16px;
}

.speakerLink:hover {
  background: var(--color-brand-orange);
}

.speakerLink:active {
  background: var(--color-brand-yellow);
}

.speakerPhoto {
  margin-bottom: 20px;
  border-radius: 16px;
  width: 100%;
  height: auto;
  max-width: 350px;
  vertical-align: top;
}

.speakerDetails {
  font: var(--font-ui-sm-medium);
  letter-spacing: var(--letter-spacing-ui-sm);
}

.speakerName {
  font: 700 28px/1.1 'National 2 Narrow', sans-serif;
  letter-spacing: normal;
  display: block;
  margin-bottom: 4px;
}

@media (--medium-up) {
  .container {
    margin: 64px 0 96px;
  }

  .introContent {
    margin: 0 auto 64px;
    max-width: var(--max-body-text-width);
  }

  .heading {
    font: var(--font-display-base);
    margin-bottom: 32px;
  }

  .speakerList {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: var(--grid-medium-gutter);
  }

  .speakerItem {
    width: auto;
  }

  .speakerLink {
    display: block;
    margin: 0;
    padding: 24px;
    border-radius: 32px;
  }

  .speakerPhoto {
    max-width: none;
  }
}

@media (--large-up) {
  .container {
    margin: 96px 0 128px;
  }

  .heading {
    font: var(--font-display-lg);
  }

  .speakerList {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: var(--grid-gutter);
  }

  .speakerName {
    font: var(--font-display-sm);
  }
}
