.container {
  padding: 80px 0;
  background: var(--color-brand-yellow-light);
}

.introContent {
  text-align: center;
  margin-bottom: 48px;
}

.heading {
  margin: 0 0 24px;
  font: var(--font-display-sm);
}

.speakerList {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 1062px;
}

.speakerItem {
  border-bottom: 2px solid var(--color-brand-black);
}

.speakerItem:first-child {
  border-top: 2px solid var(--color-brand-black);
}

.speakerLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0 -16px;
  padding: 0 16px;
  border-radius: 16px;
}

.speakerLink:hover {
  background: var(--color-brand-orange);
}

.speakerLink:active {
  background: var(--color-brand-yellow);
}

.speakerLink::after {
  content: '->';
  white-space: nowrap;
  letter-spacing: normal; /* Chromium disables ligatures otherwise */
  flex: auto;
  text-align: right;
}

.speakerPhoto {
  margin: 16px 24px 16px 0;
  border-radius: 16px;
  width: 64px;
  height: auto;
}

.speakerDetails {
  margin: 24px 0;
  font: var(--font-body-base-medium);
}

.speakerName {
  font: var(--font-display-xxs);
  letter-spacing: normal;
  display: block;
  margin-bottom: 8px;
}

@media (--medium-up) {
  .container {
    padding: 96px 0;
  }

  .introContent {
    margin-bottom: 64px;
  }

  .heading {
    margin-bottom: 32px;
  }

  .speakerName {
    font: var(--font-display-xs);
  }
}

@media (--large-up) {
  .container {
    padding: 128px 0;
  }

  .heading {
    font: var(--font-display-lg);
  }

  .speakerLink {
    margin: 0 -32px;
    padding: 0 32px;
  }

  .speakerLink::after {
    font-size: 40px;
    line-height: 1;
  }

  .speakerPhoto {
    margin: 31px 48px 32px 0;
    width: 193px;
  }

  .speakerDetails {
    margin: 80px 0;
    font: var(--font-body-large-medium);
  }

  .speakerName {
    font: var(--font-display-base);
  }
}
