.root {
  margin: 24px 0 80px;
}

.logo {
  width: 100%;
  height: auto;
}

.summary {
  margin-top: 24px;
  font: var(--font-body-base-medium);
  letter-spacing: var(--letter-spacing-body-base);
  display: grid;
  row-gap: 24px;
}

.dates,
.hostedBy,
.description {
  margin: 0;
}

@media (--medium-up) {
  .root {
    margin: 32px 0 96px;
  }

  .summary {
    margin-top: 32px;
    column-gap: var(--grid-medium-gutter);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (--large-up) {
  .root {
    margin: 40px 0 128px;
  }

  .summary {
    margin-top: 40px;
    column-gap: var(--grid-gutter);
    font: var(--font-body-xl-medium);
    letter-spacing: var(--letter-spacing-body-xl);
  }

  .datesAndHostedByWrapper {
    font: var(--font-ui-xl-medium);
    letter-spacing: var(--letter-spacing-ui-xl);
  }
}
