.table {
  display: none;
  width: 100%;
  border-spacing: 8px;
  font: var(--font-body-small-medium);
  letter-spacing: var(--letter-spacing-body-small);
  margin: 96px 0;
}

.sections {
  font: var(--font-body-small-medium);
  letter-spacing: var(--letter-spacing-body-small);
  margin: 48px 0;
}

.ticketInfo {
  background-color: var(--color-brand-yellow);
  padding: 24px;
  border-radius: 8px;
  font: inherit;
  text-align: left;
  vertical-align: top;
}

.name {
  margin: 0 0 4px;
  font: var(--font-body-large-bold);
  letter-spacing: var(--letter-spacing-body-large);
}

.priceList {
  margin: 24px 0 0 0;
}

.priceLabel,
.description {
  color: var(--color-material-gray-600);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.price {
  margin: 0 0 8px;
  color: var(--color-brand-black);
}

.price:last-child {
  margin: 0;
}

.price.expired {
  text-decoration: line-through;
  color: var(--color-material-gray-600);
}

.ticketFeatures {
  list-style-type: none;
  padding: 24px;
  border: 1px solid var(--color-brand-yellow);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 8px;
}

.feature,
.featurePresence {
  border: 1px solid var(--color-ui-gray-100);
  width: 265px;
  height: 114px;
  padding: 24px;
  border-radius: 8px;
}

.feature {
  font: inherit;
  text-align: left;
}

.featurePresence {
  text-align: center;
}

.featureIncluded {
  background-color: var(--color-brand-yellow-light);
}

@media (--medium-up) {
  .sections {
    margin: 64px 0;
  }
}

@media (--large-up) {
  .table {
    display: table;
  }

  .sections {
    display: none;
  }
}
