.table {
  display: none;
  width: 100%;
  border-spacing: 8px;
  margin: 96px 0;
}

.sections {
  font: var(--font-body-small-medium);
  letter-spacing: var(--letter-spacing-body-small);
  margin: 48px 0;
}

.ticketInfo {
  background-color: var(--color-brand-yellow);
  padding: 24px;
  border-radius: 8px;
  font: inherit;
  text-align: left;
}

.ticketInfo.inSections {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.name {
  margin: 0 0 24px;
  font: var(--font-body-large-bold);
  letter-spacing: var(--font-body-large);
}

.priceList {
  margin: 0;
}

.priceLabel {
  color: var(--color-material-gray-600);
}

.price {
  margin: 0;
  font: var(--font-body-small-bold);
}

.ticketFeatures {
  list-style-type: none;
  padding: 24px;
  border: 1px solid var(--color-brand-yellow);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 8px;
}

.includedFeature:not(:last-child) {
  padding-bottom: 16px;
}

.icon {
  vertical-align: top;
}

.includedFeatureDescription {
  padding-left: 12px;
  text-transform: capitalize;
}

.feature,
.featurePresence {
  border: 1px solid var(--color-ui-gray-100);
  width: 265px;
  height: 114px;
  padding: 24px;
  border-radius: 8px;
}

.feature {
  font: inherit;
  text-align: left;
  text-transform: capitalize;
}

.featurePresence {
  text-align: center;
}

.featureIncluded {
  background-color: var(--color-brand-yellow-light);
}

@media (-medium-up) {
  .sections {
    margin: 64px 0;
  }
}

@media (--large-up) {
  .table {
    display: table;
  }

  .sections {
    display: none;
  }
}
