.container {
  margin: 128px 0;
}

.heading {
  margin: 0 0 32px;
  text-align: center;
}

.table {
  border-spacing: 8px;
  display: none;
  width: 100%;
  font: var(--font-body-small-medium);
  letter-spacing: var(--letter-spacing-body-small);
}

.listContainer {
  font: var(--font-body-small-medium);
  letter-spacing: var(--letter-spacing-body-small);
  margin: 80px 0;
}

.columnHeader,
.rowHeader,
.cell {
  padding: 24px;
  border-radius: 8px;
  font: inherit;
}

.columnHeader,
.rowHeader {
  text-align: left;
  vertical-align: top;
}

.columnHeader {
  background: var(--color-brand-yellow);
}

.rowHeader,
.cell {
  border: 1px solid var(--color-ui-gray-100);
  height: 114px;
}

.cell {
  text-align: center;
}

.cell.active {
  background-color: var(--color-brand-yellow-light);
}

.sponsorshipName {
  display: block;
  margin: 0 0 48px;
  font: var(--font-body-large-semi);
  letter-spacing: var(--letter-spacing-body-large);
}

.price {
  font: var(--font-ui-xl-medium);
  letter-spacing: var(--letter-spacing-ui-xl);
}

@media (--medium-up) {
  .heading {
    margin: 0 auto 48px;
    max-width: var(--max-body-text-width);
  }
}

@media (--large-up) {
  .heading {
    margin-bottom: 64px;
  }

  .table {
    display: table;
  }

  .listContainer {
    display: none;
  }

  .price,
  .number {
    font: var(--font-body-xl-medium);
    letter-spacing: var(--letter-spacing-body-xl);
  }

  .description {
    display: block;
    margin-top: 10px;
  }
}
