.link {
  text-decoration: none;
}

.card {
  border-radius: 8px;
  padding: 24px;
  border: 1px solid var(--color-brand-black);
  margin: 8px 0;
  font: var(--font-ui-xs-medium);
  letter-spacing: var(--letter-spacing-ui-xs);
}

.link:hover .card {
  background: var(--color-brand-yellow);
}

.link:active .card {
  background: var(--color-brand-yellow-light);
}

.title {
  display: block;
  font: var(--font-display-xxs);
  margin: 0 0 8px;
}
