.container {
  margin: 80px 0;
}

.title {
  margin-bottom: 40px;
}

.section {
  margin: 8px 0;
  background: var(--color-brand-yellow-light);
  padding: 48px 32px;
  border-radius: 12px;
}

.answer {
  margin-top: 22px;
  font: var(--font-body-small);
  letter-spacing: var(--letter-spacing-body-small);
}

@media (--medium-up) {
  .container {
    margin: 96px 0;
  }

  .title,
  .section {
    box-sizing: content-box;
    max-width: var(--max-body-text-width);
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    margin-bottom: 48px;
  }

  .section {
    padding: 64px 52px;
  }

  .answer {
    margin-top: 25px;
    font: var(--font-body-base);
    letter-spacing: var(--letter-spacing-body-base);
  }
}

@media (--large-up) {
  .container {
    margin: 128px 0;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: var(--grid-gutter);
  }

  .title {
    margin-bottom: 64px;
  }

  .section {
    padding: 64px;
  }
}
